@font-face {
  font-family: 'Futura PT';
  src: url("../fonts/FuturaPT-Heavy.eot");
  src: local("Futura PT Heavy"), local("FuturaPT-Heavy"), url("../fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT-Heavy.woff") format("woff"), url("../fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Light.eot");
  src: local("Proxima Nova Light"), local("ProximaNova-Light"), url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 300;
}

h1, h2, .h2, h3, .page-content .container main .articles_container article .article_header .article_category-container a, .page-content .container main .load_more {
  font-family: 'Futura PT', sans-serif;
  font-weight: 900;
}

h1 {
  line-height: normal;
  letter-spacing: normal;
  font-size: 30px;
  margin: 0;
}

h2, .h2 {
  line-height: normal;
  letter-spacing: normal;
  font-size: 25px;
  margin: 0;
}

h3 {
  line-height: normal;
  letter-spacing: normal;
  font-size: 25px;
  margin: 0;
}

.page-content .container main .articles_container article, .page-content .container .sidebar aside {
  -webkit-box-shadow: 0px 4px 10px rgba(104, 117, 134, 0.15);
          box-shadow: 0px 4px 10px rgba(104, 117, 134, 0.15);
}

.hidden {
  display: none !important;
}

a {
  color: #fefbfb;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

ul {
  margin: 0;
  padding: 0;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #333a4e;
  font-size: 18px;
  background: #F5F5F5;
}

a {
  color: #333a4e;
}

a:hover {
  color: unset;
}

.blog .container {
  width: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .blog .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .blog .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .blog .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .blog .container {
    max-width: 1140px;
  }
}

@-webkit-keyframes alarm {
  0% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  20% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  80% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes alarm {
  0% {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }
  20% {
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
  40% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  60% {
    -webkit-transform: rotate(240deg);
            transform: rotate(240deg);
  }
  80% {
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.overlay {
  display: none;
}

.overlay:before {
  content: '';
  background: #333a4e;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0.4;
  z-index: 99;
}

#leftdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  z-index: 100;
  display: none;
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #687586;
  overflow: auto;
  color: #fefbfb;
}

#leftdrop .menu_container {
  padding: 30px;
  padding-top: 50px;
}

#leftdrop nav {
  display: none;
}

#leftdrop h3 {
  font-size: 22px;
}

#leftdrop aside ul {
  padding-top: 10px;
}

#leftdrop ul {
  list-style-type: none;
}

#leftdrop ul li {
  margin-left: -30px;
  margin-right: -30px;
}

#leftdrop ul li a {
  color: #fefbfb;
  padding: 0 30px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#leftdrop ul li a:hover {
  background-color: #8994a2;
}

.blog #close {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.blog #close svg {
  fill: #fefbfb;
  width: 18px;
  height: 18px;
}

#burger {
  margin-left: 30px;
  display: none;
}

#burger a {
  opacity: 1;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

#burger a img {
  width: 28px;
}

.search form {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search input {
  height: 100%;
  width: 0;
  padding: 0 18px 0 0px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  z-index: 2;
  color: #fefbfb;
  font-size: 16px;
  cursor: pointer;
}

.search input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid #fefbfb;
  cursor: initial;
}

.search input:focus + button {
  z-index: 4;
}

.search button {
  background: transparent;
  border: none;
  height: 18px;
  width: 18px;
  cursor: pointer;
  position: absolute;
  right: 0;
}

.search button svg {
  fill: #fefbfb;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

header {
  background-color: #687586;
  width: 100%;
  height: 55px;
  position: fixed;
  z-index: 10;
  top: 0;
}

header a {
  color: #fefbfb;
}

header a:hover {
  color: #fefbfb;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

header .container .logo img {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

header .container nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .container nav ul li a {
  margin-right: 20px;
}

.page-content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.page-content .container main {
  width: calc(100% - 300px);
  padding-top: 85px;
  padding-right: 10px;
}

.page-content .container main h1.title_feature {
  font-size: 20px;
  color: #687586;
}

.page-content .container main .articles_container {
  padding-top: 20px;
}

.page-content .container main .articles_container article {
  border-radius: 3px;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.page-content .container main .articles_container article a:hover {
  color: unset;
}

.page-content .container main .articles_container article h2 {
  margin-bottom: 20px;
}

.page-content .container main .articles_container article .article_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.page-content .container main .articles_container article .article_header .date {
  margin-right: 20px;
}

.page-content .container main .articles_container article .article_header .article_category-container a {
  margin-right: 20px;
  font-size: 18px;
}

.page-content .container main .articles_container article .article_thumb {
  margin-left: -20px;
  margin-right: -20px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
}

.page-content .container main .articles_container article .article_thumb:hover {
  opacity: unset;
}

.page-content .container main .articles_container article .article_thumb img {
  width: 100%;
}

.page-content .container main .load_more {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 43px;
  margin-bottom: 50px;
}

.page-content .container main .load_more:hover {
  background-color: #fff;
  color: unset;
  opacity: unset;
}

.page-content .container .sidebar {
  width: 300px;
  padding-left: 10px;
  padding-top: 130px;
}

.page-content .container .sidebar h3 {
  margin-bottom: 20px;
}

.page-content .container .sidebar aside {
  background-color: #fff;
  border-radius: 3px;
}

.page-content .container .sidebar aside ul {
  list-style-type: none;
  padding: 10px 0;
}

.page-content .container .sidebar aside ul li {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.page-content .container .sidebar aside ul li:hover {
  background-color: #f5f5f5;
}

.page-content .container .sidebar aside ul li:hover:before {
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #96b6ba;
}

.page-content .container .sidebar aside ul li a {
  color: #333a4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content .container .sidebar aside ul li a:hover {
  opacity: 1;
}

footer {
  background-color: #687586;
  width: 100%;
  height: 55px;
  color: #fefbfb;
}

footer a {
  color: #fefbfb;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

footer .container .logo img {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}

.back-top {
  position: fixed;
  width: 32px;
  right: 21%;
  bottom: 170px;
}

.back-top img {
  fill: #333a4e;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1700px) {
  .container {
    width: 50vw;
    padding-right: 5px;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    padding-left: 10px;
    width: 54vw;
  }
  .container h2 {
    padding-left: 10px;
  }
  .thumbnail {
    width: 34vw;
  }
  #burger, #counter, #close {
    right: 40px;
  }
  #contacts form input:not(.form_btn) {
    height: 50px !important;
  }
  #contacts .input_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #contacts .input_container input {
    width: 100% !important;
  }
  .blog h2 {
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    display: none;
  }
  #burger {
    display: block;
  }
  .page-content .container main {
    width: 100%;
    padding-right: 0;
  }
  .back-top {
    right: 1%;
  }
  header .container .search input:focus {
    width: 160px;
  }
}

@media screen and (max-width: 920px) {
  section:not(#contacts) {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  h2, h3 {
    font-size: 24px;
  }
  .container {
    width: 66vw;
  }
  .container h2 {
    width: 70%;
  }
  #gallery .container {
    padding-top: 30px;
    padding-right: 3vw;
    padding-left: 3vw;
  }
  #gallery .container .column {
    -webkit-box-flex: 50% !important;
        -ms-flex: 50% !important;
            flex: 50% !important;
    max-width: 50% !important;
  }
  #gallery .container h2 {
    text-align: left;
  }
  #contacts .container .form_wrap form textarea {
    height: 12vh;
  }
  #counter {
    display: none;
  }
  #dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #about, #subjects, #awards, #files, #contacts {
    padding: 0;
  }
  .thumbnail {
    height: 100%;
  }
  .blog h2 {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  #gallery .container .photo_wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #gallery .container .photo_wrap a {
    margin-right: initial;
    width: 230px;
    height: 170px;
  }
  .filter_container .dropdown .dropbtn {
    width: 310px;
  }
  .title_feature {
    font-size: 18px;
  }
  .blog .page-content .container main .articles_container article .article_header .article_category-container a {
    font-size: 16px;
    display: inline-block;
  }
  .blog header {
    font-size: 16px;
  }
  .blog header nav {
    display: none;
  }
  .blog .container {
    height: 100%;
  }
  .blog h2 {
    font-size: 22px;
  }
  .blog .article_header {
    font-size: 16px;
  }
  .blog .article_header .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .article_preview {
    display: block;
    font-size: 16px;
  }
  .blog .load_more {
    font-size: 16px;
  }
  .blog footer {
    font-size: 14px;
  }
  .blog #leftdrop a {
    font-size: 16px;
  }
  .blog #leftdrop nav {
    display: block;
  }
  .blog #leftdrop nav .menu_category svg {
    width: 9px;
    height: 9px;
    fill: #fefbfb;
    margin-left: 5px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .blog #leftdrop h3 {
    display: none;
  }
  .blog #leftdrop aside {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: .4s;
    transition: .4s;
    margin: 0 -30px;
  }
  .blog #leftdrop aside ul {
    padding: 0;
  }
  .blog #leftdrop aside ul li {
    margin: 0;
  }
  .blog #leftdrop aside a {
    padding: 0 40px;
  }
  .blog #leftdrop .category_open aside {
    max-height: 300px;
  }
  .blog #leftdrop .category_open .menu_category svg {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (max-width: 500px) {
  .thumbnail {
    width: 100vw;
    position: fixed;
    z-index: -1;
    opacity: 0.1;
  }
  .container {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 0;
    padding-left: 5px;
    line-height: normal;
  }
  .container h2 {
    margin-bottom: 15px;
  }
  #first .first_bg {
    height: 33vh;
  }
  h1 .first_description, #first .first_title .first_description {
    font-size: 30px;
  }
  #first .first_title .first_description {
    font-weight: 300;
  }
  #first .first_title .first_title-line {
    height: 3px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: table;
  }
  #first .first_blockquote {
    padding: 10px;
    line-height: normal;
  }
  #about .about_wrap {
    max-height: 80%;
  }
  #about .education, #about .teach_exp, #about .tech_exp, #about .category, #about .training {
    margin-left: 0;
  }
  #subjects .subject_wrap {
    padding-left: 0;
    overflow-y: auto;
    height: initial;
    max-height: 76%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #subjects .subject_wrap .subject .icon {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
  #subjects .subject_wrap .subject {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  #subjects .subject_wrap .subject .subject_title {
    padding-left: 10px;
  }
  .filter_container {
    padding-left: 0;
  }
  .filter_container .dropdown {
    margin: 0 auto;
  }
  #awards .awards_wrap .award {
    width: 130px;
    margin-bottom: 10px;
  }
  #awards .awards_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 70%;
  }
  #files .container .clearboth .truncate_more_link {
    font-size: 14px;
  }
  #files .container .files_wrap {
    max-height: 70%;
  }
  #files .container .file a:not(.truncate_more_link) {
    width: 26px;
    min-width: 26px;
    margin-right: 10px;
  }
  #files .container .file a:not(.truncate_more_link) img {
    width: 100%;
  }
  #gallery .container {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 25px;
  }
  #gallery .container .photo_wrap {
    max-height: 73vh;
  }
  #contacts .container .form_wrap form .form_btn {
    height: 45px !important;
    width: 150px;
  }
  #contacts .container .form_wrap form input, #contacts .container .form_wrap form textarea {
    font-size: 16px;
  }
  #contacts .container .form_wrap form textarea {
    padding-top: 5px;
    height: 12vh;
  }
  #contacts form input:not(.form_btn) {
    height: 38px !important;
  }
  .blog header {
    font-size: 14px;
  }
}

@media screen and (max-width: 380px) {
  body {
    font-size: 14px;
  }
  h2, h3 {
    font-size: 18px;
  }
  #first img {
    width: 140px;
  }
  #leftdrop .menu-item {
    font-size: 22px;
  }
  #first .first_title {
    margin-top: 80px;
  }
  h1, #first .first_title .first_description {
    font-size: 18px;
  }
  #first .first_blockquote {
    margin-top: 0;
  }
  #first .first_blockquote p {
    font-size: 14px;
  }
  #first .first_title .first_title-line {
    margin: 0 auto;
  }
  #about .education ul, #about .teach_exp ul, #about .tech_exp ul, #about .category ul, #about .training ul {
    margin-left: 25px;
  }
  #about .education, #about .teach_exp, #about .tech_exp, #about .category, #about .training {
    margin-top: 0;
    margin-bottom: 10px;
  }
  #subjects .subject_wrap {
    padding: 0;
  }
  .filter_container {
    padding-left: 10px;
    padding-top: 0;
  }
  .filter_container .dropdown {
    margin: initial;
  }
  .filter_container .dropdown .dropbtn {
    width: 210px;
    height: 38px;
    background-size: 18px;
  }
  #contacts .container .contacts_wrap .number i, #contacts .container .contacts_wrap .mail i, #contacts .container .contacts_wrap .vk i {
    font-size: 24px;
  }
}
/*# sourceMappingURL=blog.css.map */