// Цвета
// 1. главная
$bg: #687586
$accent: #96b6ba
$text_white: #fefbfb
// 2. для блога
$text_dark: #333a4e
$blog_accent: #687586

// Шрифты
@font-face 
  font-family: 'Futura PT'
  src: url('../fonts/FuturaPT-Heavy.eot')
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face 
  font-family: 'Proxima Nova Lt'
  src: url('../fonts/ProximaNova-Light.eot')
  src: local('Proxima Nova Light'), local('ProximaNova-Light'), url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype')
  font-weight: 300
  font-style: normal


%text-light
  font-family: 'Proxima Nova Lt', sans-serif
  font-weight: 300

%text-bold
  font-family: 'Futura PT', sans-serif
  font-weight: 900

// Стандарты текста
%text-reference
  @extend %text-light
  line-height: 25pt
  font-size: 24px
  letter-spacing: 0.1em

%title
  @extend %text-bold
  font-size: 36px

%subtitle
  @extend %text-bold
  font-size: 30px

%blog-h1
  @extend %text-bold
  line-height: normal
  letter-spacing: normal
  font-size: 30px
  margin: 0

%blog-h2
  @extend %text-bold
  line-height: normal
  letter-spacing: normal
  font-size: 25px
  margin: 0

%blog-h3
  @extend %text-bold
  line-height: normal
  letter-spacing: normal
  font-size: 25px
  margin: 0

// Тень
%block_shadow
  box-shadow: 0px 4px 10px rgba(104, 117, 134, 0.15)

.hidden
  display: none !important

a
  color: $text_white
  text-decoration: none
  transition: .5s
  cursor: pointer
  &:hover
    opacity: 0.7

ul
  margin: 0
  padding: 0

div
  box-sizing: border-box
  margin: 0
  padding: 0

input:invalid
  box-shadow: none !important
