// цвета
$bg: #687586
$accent: #96b6ba
$text: #fefbfb

// шрифты
@font-face 
  font-family: 'Futura PT'
  src: url('../fonts/FuturaPT-Heavy.eot')
  src: local('Futura PT Heavy'), local('FuturaPT-Heavy'), url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/FuturaPT-Heavy.woff') format('woff'), url('../fonts/FuturaPT-Heavy.ttf') format('truetype')
  font-weight: 900
  font-style: normal

@font-face
  font-family: 'Museo Cyrl 300'
  src: url('../fonts/MuseoCyrl-300.woff2') format('woff2'), url('../fonts/MuseoCyrl-300.woff') format('woff')
  font-weight: 300
  font-style: normal

%text-300
  font-family: 'Museo Cyrl 300', sans-serif
  font-weight: 300

%text-600
  font-family: 'Futura PT', sans-serif
  font-weight: 900

// стандарты текста
%text-reference
  @extend %text-300
  line-height: 25pt
  font-size: 24px
  letter-spacing: 0.1em

%title
  @extend %text-600
  font-size: 36px

%subtitle
  @extend %text-600
  font-size: 30px